footer.footer-section
  p 2019-2020 • #[a(href="mailto:surlakatrina@gmail.com") surlakatrina@gmail.com]
  p Created by #[a(href="http://www.arisacoba.com" class="gt-aris-acoba" target="_blank") @aris_acoba]
