{
  "extends": [
    "stylelint-config-standard",
    "stylelint-rscss/config",
    "stylelint-config-prettier"
  ]
},
{
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
