// Dimensions
$font-size: 14px;
$section-gap: 160px;
$section-gap-sm: 80px;

// Colors
$bg-a: #fff;
$color-a: #151515;
$color-white: #fff;
$text-a: #151515;
$text-b: #818181;
$text-c: #555555;

// Fonts
$font-a: "HK Grotesk", sans-serif;
