.experience-list {
  > .item {
    border-top: 1px solid $text-a;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    &:last-child {
      border-bottom: 1px solid $text-a;
    }

    > .header {
      padding-right: 16px;

      @include viewport-4 {
        padding-right: 32px;
      }
      > .title {
        font-size: ms(3);
        line-height: 1.4;

        @include viewport-4 {
          font-size: ms(2);
        }
      }
      > .company {
        color: $text-b;
      }
    }
    > .datefield {
      color: $text-b;
      font-size: ms(2);

      @include viewport-4 {
        white-space: nowrap;
        flex: 1 0 56px;
        font-size: ms(1);
        margin-top: 8px;
        text-align: right;

        > .label > .hide {
          display: none;
        }
      }
    }
  }
}
