.header-title {
  margin-bottom: 40px;

  > .title {
    font-size: ms(5);
    line-height: 1;

    @include viewport-4 {
      font-size: ms(4);
    }
  }
  > .caption {
    font-weight: normal;
    &.-muted {
      color: $text-b;
    }
  }
}
