.image-section {
  margin: 0;
  background-color: $text-b;
  min-height: 320px;

  > .image {
    width: 100%;
    object-fit: cover;
    height: 360px;

    @include viewport-7 {
      height: 520px;
    }
    @include viewport-9 {
      height: auto;
    }
    @include viewport-12 {
      height: auto;
    }
  }
}
