.main-section {
  margin: 56px 32px 0;

  @include viewport-9 {
    margin: 200px auto 0;
    max-width: 900px;
    padding-left: 48px;
    padding-right: 48px;
  }

  @include viewport-12 {
    margin: 240px auto 0;
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
