.header
  h2 brands handled
.content
  ul.brands-list
    li Toyota Corolla Altis
    li SkinWhite Whitening Lotion
    li Maxi-Peel Zero
    li Maxi-Peel Exfoliant Solutions
    li Philippine National Bank
    li Mislatel: Dito Telecommunity
    li SM Development Corporation
    li SM City North Edsa
    li Sosro Fruit Tea
    li Motortrade Nationwide Corporation
    li Angeles University Foundation
    li Hirna Mobility Solutions
