.header
  h2 brands handled
.content
  .image-floating(data-js-img-floating)
    img(class="image" data-js-img-src src="assets/images/katrina-surla.jpg" alt="brands handled")
  ul.brands-list
    li(data-js-image-trigger data-js-image-value="toyota-corolla-altis--katrina-surla") Toyota Corolla Altis
    li(data-js-image-trigger data-js-image-value="skinwhite-whitening-lotion--katrina-surla") SkinWhite Whitening Lotion
    li(data-js-image-trigger data-js-image-value="maxipeel-zero--katrina-surla") Maxi-Peel Zero
    li(data-js-image-trigger data-js-image-value="maxipeel-exfoliant--katrina-surla") Maxi-Peel Exfoliant Solutions
    li Philippine National Bank
    li Mislatel: Dito Telecommunity
    li(data-js-image-trigger data-js-image-value="smdc--katrina-surla") SM Development Corporation
    li(data-js-image-trigger data-js-image-value="sm-north-edsa--katrina-surla") SM City North Edsa
    li(data-js-image-trigger data-js-image-value="sosro--katrina-surla") Sosro Fruit Tea
    li Motortrade Nationwide Corporation
    li(data-js-image-trigger data-js-image-value="auf--katrina-surla") Angeles University Foundation
    li Hirna Mobility Solutions
