.header
  h2 brands handled
.content
  .image-floating
    img(class="image" data-js-img-src src="assets/images/katrina-surla.jpg" alt="brands handled")
  ul.brands-list
    li(data-js-toyota-corolla) Toyota Corolla Altis
    li(data-js-skinwhite-lotion) SkinWhite Whitening Lotion
    li(data-js-maxipeel-zero) Maxi-Peel Zero
    li Maxi-Peel Exfoliant Solutions
    li Philippine National Bank
    li Mislatel: Dito Telecommunity
    li(data-js-smdc) SM Development Corporation
    li(data-js-sm-north) SM City North Edsa
    li(data-js-sosro) Sosro Fruit Tea
    li Motortrade Nationwide Corporation
    li(data-js-auf) Angeles University Foundation
    li Hirna Mobility Solutions
