.header
  h2 brands handled
.content
  ul.brands-list
    li Toyota Corolla Altis
    li Skinwhite Whitening Lotion
    li Maxi-Peel Zero
    li Maxi-Peel Exfoliant Solutions
    li Philippine National Bank
    li Mislatel
    li SM Development Corporation
    li SM City North Edsa
    li Sosro Fruit Tea
    li Motortrade Nationwide Corporation
    li Angeles University Foundation
    li Hirna Mobility Solutions
