.header.-nowrap
  h2 experience
.content
  .experience-list
    .item
      .header
        .title account manager
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label #[span.hide 2018-]present
    .item
      .header
        .title account executive
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label #[span.hide 2017-]2018
    .item
      .header
        .title jr. account executive
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label #[span.hide 2016-]2017
