.header.-nowrap
  h2 experience
.content
  .experience-list
    .item
      .header
        .title associate account director
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label #[span.hide Jan 2020-]present
    .item
      .header
        .title account manager
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label #[span.hide 2018-]2019
    .item
      .header
        .title account executive
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label 2017#[span.hide -2018]
    .item
      .header
        .title jr. account executive
        .company IdeasXMachina Advertising Inc: A Member of Hakuhodo
      .datefield
        .label 2016#[span.hide -2017]
