extends ../layouts/default.pug
block vars
  - var title = ""
  - var description = ""
  - var image = ""
  - var currentPath = ""
block content
  .main-section
    .overview-section
      .header-title
        h1.title katrina surla
        h4.caption.-muted advertising account management • campaign development • client-agency relations
      .description
        p Skilled in campaign development, Client-Agency and personal relations, and time management, I have a good three-year experience handling various brands. From face and skin care to fashion, and real estate.
        p I manage daily communications making sure Agency and Client objectives and expectations are met in time. Aside from business growth, I am equally interested in leadership growth where I can share my work experience and learn at the same time.
      .actions
        button.-primary Message me
        button Download my CV
