.header
  h2 experience
.content
  .experience-list
    .item
      .header
        h2.title account manager
        .company IdeasXmachina (IXM)
      .datefield
        .label 2018-present
    .item
      .header
        h2.title account executive
        .company IdeasXmachina (IXM)
      .datefield
        .label 2017-2018
    .item
      .header
        h2.title jr. account executive
        .company IdeasXmachina (IXM)
      .datefield
        .label 2016-2017
