html{
  box-sizing: box-content;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
  background-color: $bg-a;
  color: $text-a;
  font-family: $font-a;
  font-size: $font-size;
  line-height: 1.6em;
}
