html {
  box-sizing: box-content;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-a;
  color: $text-a;
  font-family: $font-a;
  font-size: $font-size;
  line-height: 1.6em;
  overflow-x: hidden;
  opacity: 0;
  animation: 0.2s fade-in ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}
