.btn-component {
  padding: 12px 24px;
  border: 1px solid $text-a;
  background-color: $color-white;
  color: $text-a;
  margin-right: 16px;
  font-size: $font-size;
  cursor: pointer;
  text-align: center;

  &.-primary {
    background-color: $color-a;
    color: $color-white;
  }
  &:last-child {
    margin-right: 0;
  }
}
