h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: ms(4);
  letter-spacing: -0.6px;
}

h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: ms(3);
  letter-spacing: 0.2px;
}

h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: ms(2);
}

h4 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: ms(1);
}
